@model eShopSolution.ViewModels.Catalog.Products.ProductUpdateRequest

@{

    ViewData["Title"] = "Cập nhật sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string[] productImagesArr = !string.IsNullOrEmpty(Model.ProductImageSavedStr) ? Model.ProductImageSavedStr.Split(",") : new string [] { };
    var productImagesSerialize = Html.Raw( Newtonsoft.Json.JsonConvert.SerializeObject(productImagesArr));

    var thumbnailImageSavedHtml = !string.IsNullOrEmpty(Model.ThumbnailImageSavedStr) ? Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.ThumbnailImageSavedStr)) : Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(""));
}


<style>
    .validation-summary-valid span {
        display: none;
    }
</style>

<div class="container-fluid">
    <h1 class="mt-4">Cập nhật sản phẩm</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a style="color: #0779e4;" href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Cập nhật sản phẩm</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Index" asp-controller="Product">Về danh sách</a>
        </div>

        <div class="card-body">
            <div class="col-md-8">
                <form asp-action="Edit" enctype="multipart/form-data" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="Id" type="hidden" name="Id" value="@Model.Id" />
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Alias" class="control-label"></label>
                        <input asp-for="Alias" class="form-control" />
                        <span asp-validation-for="Alias" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CategoryId" class="control-label"></label>
                        <select asp-for="CategoryId" class="form-control form-control-md">
                            @foreach (var item in Model.Categories)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Purpose" class="control-label"></label>
                        <select asp-for="Purpose" class="form-control form-control-md">
                            <option value="1">Laptop Gaming</option>
                            <option value="2"> Đồ Họa - Kỹ Thuật</option>
                            <option value="3">Học Tập - Văn Phòng</option>
                            <option value="4">Cao Cấp - Sang Trọng</option>
                            <option value="5">Không thuộc loại nào</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="OrderFeatured" class="control-label"></label>
                        <select asp-for="OrderFeatured" class="form-control form-control-md">
                            <option value="1">Hàng mới - nổi bật</option>
                            <option value="2"> Khá nổi bật</option>
                            <option value="3">bình thường</option>
                            <option value="4">ít nổi bậi</option>
                            <option value="5">rất ít nổi bật</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" type="number" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DiscountPercentage" class="control-label"></label>
                        <input asp-for="DiscountPercentage" type="number" class="form-control" />
                        <span asp-validation-for="DiscountPercentage" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Stock" class="control-label"></label>
                        <input asp-for="Stock" type="number" class="form-control" />
                        <span asp-validation-for="Stock" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ShortDescription" class="control-label"></label>
                        <textarea id="txt_short_description" asp-for="ShortDescription" rows="5" class="form-control"></textarea>
                        <span asp-validation-for="ShortDescription" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea id="txt_details" asp-for="Description" rows="15" class="form-control ck-editor__editable"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Details" class="control-label"></label>
                        <textarea id="txt_details_2" asp-for="Details" rows="10" class="form-control ck-editor__editable"></textarea>
                        <span asp-validation-for="Details" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ThumbnailImage" class="control-label"></label>
                        <input asp-for="ThumbnailImage" type="file" class="form-control" />
                        <span asp-validation-for="ThumbnailImage" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Thumbnail Images saved</label>
                        <br />
                        <input id="thumbnailImageSaved" type="text" data-role="tagsinput" placeholder="Add tags" />
                    </div>

                    <div class="form-group">
                        <label asp-for="ProductImage" class="control-label"></label>
                        <input asp-for="ProductImage" multiple type="file" class="form-control" />
                        <span asp-validation-for="ProductImage" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label">Product Images saved</label>
                        <input id="productImageSaved" type="text" data-role="tagsinput" placeholder="Add tags" />
                    </div>
                    
                    <div class="form-group">
                        <input asp-for="ProductImageSavedStr" type="text" hidden class="form-control" />
                        <input asp-for="ThumbnailImageSavedStr" type="text" hidden class="form-control" />
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Cập nhật" class="btn btn-primary" />
                    </div>

                    
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdn.ckeditor.com/ckeditor5/27.0.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#txt_short_description'), {
                // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
            })
            .then(editor => {
                editor.ui.view.editable.element.style.height = '300px';
                window.editor = editor;
            })
            .catch(err => {
                console.error(err.stack);
            });

        ClassicEditor
            .create(document.querySelector('#txt_details'), {
                // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
            })
            .then(editor => {
                editor.ui.view.editable.element.style.height = '200px';
                window.editor = editor;
            })
            .catch(err => {
                console.error(err.stack);
            });

             ClassicEditor
            .create(document.querySelector('#txt_details_2'), {
                // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
            })
            .then(editor => {
                editor.ui.view.editable.element.style.height = '500px';
                window.editor = editor;
            })
            .catch(err => {
                console.error(err.stack);
            });

             $(document).ready(function() {
                
                 // Init
                $('#productImageSaved').tagsinput();
                var thumbnailImageSaved = @thumbnailImageSavedHtml;
                if(thumbnailImageSaved){
                    $('#thumbnailImageSaved').tagsinput('add', @thumbnailImageSavedHtml);
                }else{
                    $('#thumbnailImageSaved').tagsinput();
                }
               

                //add item of tags
                var items =  @productImagesSerialize;
                if(items){
                      items.forEach(function(item) {
                        $('#productImageSaved').tagsinput('add', item);
                    });
                }
                

                // event tag
                $('#productImageSaved').on('itemRemoved', function(event) {
                   var productImageSaveValue = $("#productImageSaved").val();
                   console.log(productImageSaveValue);
                   $('#ProductImageSavedStr').val(productImageSaveValue);
                });

                $('#thumbnailImageSaved').on('itemRemoved', function(event) {
                   var thumbnailImageSavedStr = $("#thumbnailImageSaved").val();
                   console.log(thumbnailImageSavedStr);
                   $('#thumbnailImageSavedStr').val(thumbnailImageSavedStr);
                });


                // event gen alias by product name
                  $('#Name').on('input', function () {
                    var productcategory_name = $('#Name').val();
                    $('#Alias').val(convertToSlug(productcategory_name));
                    //console.log($(this).val()); // Logs the current value of the input field as the user types
                });
                
              });



        function removeDiacritics(str) {
            return str.normalize("NFD").replace(/[\u0300-\u036f]/g, "");
        };

        function convertToSlug(str) {
            // Bước 1: Loại bỏ dấu
            str = removeDiacritics(str);

            // Bước 2: Chuyển về chữ thường
            str = str.toLowerCase();

            // Bước 3: Thay thế các ký tự không phải là chữ cái hoặc số bằng dấu "-"
            str = str.replace(/[^a-z0-9\s-]/g, '');

            // Bước 4: Thay thế các khoảng trắng hoặc dấu "-" liên tiếp thành một dấu "-"
            str = str.replace(/\s+/g, '-').replace(/-+/g, '-');

            // Bước 5: Xóa các dấu "-" ở đầu và cuối chuỗi
            str = str.replace(/^-+|-+$/g, '');

            return str;
        };
              
    </script>
}