@{
	Layout = "_Layout";
	ViewData["Title"] = "Post Category";
}

<section class="wrap">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-left">
				<div class="box">
					<div class="box-body">
						<h1 class="page-heading">Tin Tức</h1>
						<div class="news-list-horizontal">
							<div class="news-item news-item-horizontal">
								<div class="news-item-img">
									<a href="../tai-ngay-phan-mem-adobe-photoshop-cc-chinh-sua-anh-chuyen-nghiep/" title="Tải ngay phần mềm Adobe Photoshop CC - Chỉnh sửa ảnh chuyên nghiệp"><img alt="Tải ngay phần mềm Adobe Photoshop CC - Chỉnh sửa ảnh chuyên nghiệp" class="lazyload" data-src="https://techcare.net.vn/image/tai-ngay-phan-mem-adobe-photoshop-cc-chinh-sua-anh-chuyen-nghiep-9lxyqoc.jpg?s=20" /></a>
								</div>
								<div class="news-body">
									<h5 class="news-item-title"><a href="../tai-ngay-phan-mem-adobe-photoshop-cc-chinh-sua-anh-chuyen-nghiep/" title="Tải ngay phần mềm Adobe Photoshop CC - Chỉnh sửa ảnh chuyên nghiệp">Tải ngay phần mềm Adobe Photoshop CC - Chỉnh sửa ảnh chuyên nghiệp</a></h5>
									<p class="news-item-time">01-11-2023 17:25</p>
									<p class="news-item-desc">Photoshop được phát triển và xuất bản bởi Adobe, là một chương trình chỉnh sửa đồ họa mạnh mẽ được sử dụng bởi các chuyên gia cũng như những người đam mê. Nó có sẵn cho cả Mac OS và Windows và đã trở thành tiêu chuẩn công nghiệp để chỉnh sửa hình ảnh.</p>
								</div>
							</div><div class="news-item news-item-horizontal">
								<div class="news-item-img">
									<a href="../tai-phan-mem-itools-quan-ly-cac-thiet-bi-apple/" title="Tải phần mềm iTools - Quản lý các thiết bị Apple"><img alt="Tải phần mềm iTools - Quản lý các thiết bị Apple" class="lazyload" data-src="https://techcare.net.vn/image/tai-phan-mem-itools-quan-ly-cac-thiet-bi-apple-9iz7qn9.jpg?s=20" /></a>
								</div>
								<div class="news-body">
									<h5 class="news-item-title"><a href="../tai-phan-mem-itools-quan-ly-cac-thiet-bi-apple/" title="Tải phần mềm iTools - Quản lý các thiết bị Apple">Tải phần mềm iTools - Quản lý các thiết bị Apple</a></h5>
									<p class="news-item-time">01-11-2023 17:13</p>
									<p class="news-item-desc">Trong thời đại kỹ thuật số ngày nay, nhu cầu ngày càng tăng đối với các công cụ cho phép người dùng thao tác cài đặt thiết bị của họ và bỏ qua một số hạn chế nhất định. Một công cụ như vậy đã trở nên phổ biến là iTools.</p>
								</div>
							</div><div class="news-item news-item-horizontal">
								<div class="news-item-img">
									<a href="../huong-dan-download-amiduos/" title="Hướng dẫn Download AMIDuOS"><img alt="Hướng dẫn Download AMIDuOS" class="lazyload" data-src="https://techcare.net.vn/image/huong-dan-download-amiduos-2c71qvf.jpg?s=20" /></a>
								</div>
								<div class="news-body">
									<h5 class="news-item-title"><a href="../huong-dan-download-amiduos/" title="Hướng dẫn Download AMIDuOS">Hướng dẫn Download AMIDuOS</a></h5>
									<p class="news-item-time">01-11-2023 17:06</p>
									<p class="news-item-desc">Trong thế giới công nghệ đang phát triển nhanh chóng, Android đã nổi lên như một trong những hệ điều hành phổ biến nhất cho cả người dùng và nhà phát triển. Giao diện thân thiện với người dùng và tùy chọn tùy chỉnh đã trở thành lựa chọn nhiều người.</p>
								</div>
							</div><div class="news-item news-item-horizontal">
								<div class="news-item-img">
									<a href="../huong-dan-download-foxit-reader/" title="Hướng dẫn Download Foxit Reader"><img alt="Hướng dẫn Download Foxit Reader" class="lazyload" data-src="https://techcare.net.vn/image/huong-dan-download-foxit-reader-9niiqvd.jpg?s=20" /></a>
								</div>
								<div class="news-body">
									<h5 class="news-item-title"><a href="../huong-dan-download-foxit-reader/" title="Hướng dẫn Download Foxit Reader">Hướng dẫn Download Foxit Reader</a></h5>
									<p class="news-item-time">01-11-2023 17:00</p>
									<p class="news-item-desc">Trong thế giới kỹ thuật số ngày nay, các tệp PDF đã trở thành một phần thiết yếu trong cuộc sống cá nhân và nghề nghiệp của chúng ta. Cho dù bạn là sinh viên, chuyên gia kinh doanh khả năng đọc, tạo, ký và chú thích tài liệu PDF là quan trọng.</p>
								</div>
							</div><div class="news-item news-item-horizontal">
								<div class="news-item-img">
									<a href="../huong-dan-download-karafun/" title="Hướng dẫn Download KaraFun"><img alt="Hướng dẫn Download KaraFun" class="lazyload" data-src="https://techcare.net.vn/image/huong-dan-download-karafun-r9tqqwp.jpg?s=20" /></a>
								</div>
								<div class="news-body">
									<h5 class="news-item-title"><a href="../huong-dan-download-karafun/" title="Hướng dẫn Download KaraFun">Hướng dẫn Download KaraFun</a></h5>
									<p class="news-item-time">31-10-2023 17:27</p>
									<p class="news-item-desc">Karaoke không chỉ đơn thuần là thể hiện những giai điệu yêu thích của bạn; đó là một trải nghiệm biến đổi mang lại niềm vui, tiếng cười và những kỷ niệm khó quên. Cho dù bạn đang muốn giải phóng siêu sao bên trong mình, kỷ niệm một dịp đặc biệt.</p>
								</div>
							</div><div class="news-item news-item-horizontal">
								<div class="news-item-img">
									<a href="../huong-dan-download-camtasia-studio/" title="Hướng dẫn Download Camtasia Studio"><img alt="Hướng dẫn Download Camtasia Studio" class="lazyload" data-src="https://techcare.net.vn/image/huong-dan-download-camtasia-studio-b8pxqwq.jpg?s=20" /></a>
								</div>
								<div class="news-body">
									<h5 class="news-item-title"><a href="../huong-dan-download-camtasia-studio/" title="Hướng dẫn Download Camtasia Studio">Hướng dẫn Download Camtasia Studio</a></h5>
									<p class="news-item-time">31-10-2023 16:59</p>
									<p class="news-item-desc">Camtasia Studio là một công cụ phần mềm mạnh mẽ cho phép bạn tạo các video chất lượng chuyên nghiệp một cách nhanh chóng và dễ dàng. Cho dù bạn là giáo viên muốn giáo dục học sinh của mình, nhà tiếp thị muốn truyền cảm hứng cho khán giả.</p>
								</div>
							</div><div class="news-item news-item-horizontal">
								<div class="news-item-img">
									<a href="../huong-dan-download-proshow-producer-9/" title="Hướng dẫn Download ProShow Producer 9"><img alt="Hướng dẫn Download ProShow Producer 9" class="lazyload" data-src="https://techcare.net.vn/image/huong-dan-download-proshow-producer-9-9qalqwr.jpg?s=20" /></a>
								</div>
								<div class="news-body">
									<h5 class="news-item-title"><a href="../huong-dan-download-proshow-producer-9/" title="Hướng dẫn Download ProShow Producer 9">Hướng dẫn Download ProShow Producer 9</a></h5>
									<p class="news-item-time">31-10-2023 16:44</p>
									<p class="news-item-desc">Chào mừng bạn đến với hướng dẫn toàn diện về Photodex ProShow Producer 9. Cho dù bạn là một nhiếp ảnh gia chuyên nghiệp muốn tạo các trình chiếu tuyệt đẹp hay một người có sở thích muốn gây ấn tượng với bạn bè và gia đình của mình.</p>
								</div>
							</div><div class="news-item news-item-horizontal">
								<div class="news-item-img">
									<a href="../huong-dan-download-gom-player/" title="Hướng dẫn Download GOM Player"><img alt="Hướng dẫn Download GOM Player" class="lazyload" data-src="https://techcare.net.vn/image/huong-dan-download-gom-player-275lqws.jpg?s=20" /></a>
								</div>
								<div class="news-body">
									<h5 class="news-item-title"><a href="../huong-dan-download-gom-player/" title="Hướng dẫn Download GOM Player">Hướng dẫn Download GOM Player</a></h5>
									<p class="news-item-time">31-10-2023 16:34</p>
									<p class="news-item-desc">Bạn có mệt mỏi khi phải vật lộn để tìm một trình phát đa phương tiện có thể xử lý tất cả các nhu cầu về video và âm thanh của mình không? Không đâu khác ngoài GOM Player, trình phát đa phương tiện được xếp hạng hàng đầu được phát triển bởi GOM & Company.</p>
								</div>
							</div><div class="news-item news-item-horizontal">
								<div class="news-item-img">
									<a href="../huong-dan-download-unity-player/" title="Hướng dẫn Download Unity Player"><img alt="Hướng dẫn Download Unity Player" class="lazyload" data-src="https://techcare.net.vn/image/huong-dan-download-unity-player-rn4hqwt.jpg?s=20" /></a>
								</div>
								<div class="news-body">
									<h5 class="news-item-title"><a href="../huong-dan-download-unity-player/" title="Hướng dẫn Download Unity Player">Hướng dẫn Download Unity Player</a></h5>
									<p class="news-item-time">31-10-2023 16:19</p>
									<p class="news-item-desc">Thế giới trò chơi đã được cách mạng hóa bởi các công nghệ tiên tiến và công cụ trò chơi mạnh mẽ. Một công cụ trò chơi như vậy đã trở nên phổ biến rộng rãi đối với các nhà phát triển cũng như game thủ là Unity Technologies của Unity Technologies.</p>
								</div>
							</div><div class="news-item news-item-horizontal">
								<div class="news-item-img">
									<a href="../phan-mem-adobe-illustrator-la-gi-cong-dung-cua-phan-mem-la-gi/" title="Phần mềm Adobe Illustrator là gì? Công dụng của phần mềm là gì?"><img alt="Phần mềm Adobe Illustrator là gì? Công dụng của phần mềm là gì?" class="lazyload" data-src="https://techcare.net.vn/image/phan-mem-adobe-illustrator-la-gi-cong-dung-cua-phan-mem-la-gi-o6y8qwv.jpg?s=20" /></a>
								</div>
								<div class="news-body">
									<h5 class="news-item-title"><a href="../phan-mem-adobe-illustrator-la-gi-cong-dung-cua-phan-mem-la-gi/" title="Phần mềm Adobe Illustrator là gì? Công dụng của phần mềm là gì?">Phần mềm Adobe Illustrator là gì? Công dụng của phần mềm là gì?</a></h5>
									<p class="news-item-time">31-10-2023 16:10</p>
									<p class="news-item-desc">Trong thế giới thiết kế đồ họa, Adobe Illustrator là một công cụ mạnh mẽ cho phép các chuyên gia biến tầm nhìn sáng tạo của họ thành hiện thực. Cùng mình khám phá về phần mềm này nhé.</p>
								</div>
							</div><div class="news-item news-item-horizontal">
								<div class="news-item-img">
									<a href="../huong-dan-download-fl-studio/" title="Hướng dẫn Download FL Studio"><img alt="Hướng dẫn Download FL Studio" class="lazyload" data-src="https://techcare.net.vn/image/huong-dan-download-fl-studio-o6dgqww.jpg?s=20" /></a>
								</div>
								<div class="news-body">
									<h5 class="news-item-title"><a href="../huong-dan-download-fl-studio/" title="Hướng dẫn Download FL Studio">Hướng dẫn Download FL Studio</a></h5>
									<p class="news-item-time">31-10-2023 16:01</p>
									<p class="news-item-desc">Trong thế giới sản xuất âm nhạc, việc có các công cụ phù hợp có thể tạo nên sự khác biệt. Một phần mềm đã trở nên vô cùng phổ biến đối với các nhà sản xuất là FL Studio.</p>
								</div>
							</div><div class="news-item news-item-horizontal">
								<div class="news-item-img">
									<a href="../nang-cao-video-cua-ban-vi-cac-mau-adobe-after-effects/" title="Hướng dẫn Download Adobe After Effects"><img alt="Hướng dẫn Download Adobe After Effects" class="lazyload" data-src="https://techcare.net.vn/image/nang-cao-video-cua-ban-vi-cac-mau-adobe-after-effects-ocbuqw1.jpg?s=20" /></a>
								</div>
								<div class="news-body">
									<h5 class="news-item-title"><a href="../nang-cao-video-cua-ban-vi-cac-mau-adobe-after-effects/" title="Hướng dẫn Download Adobe After Effects">Hướng dẫn Download Adobe After Effects</a></h5>
									<p class="news-item-time">31-10-2023 15:54</p>
									<p class="news-item-desc">Bạn đang muốn đưa video của mình lên một tầm cao mới? Với Adobe After Effects, bạn có thể tạo đồ họa chuyển động, hiệu ứng hình ảnh và hoạt ảnh tuyệt đẹp để nâng cao các dự án của mình.</p>
								</div>
							</div><div class="news-item news-item-horizontal">
								<div class="news-item-img">
									<a href="../huong-dan-download-adobe-audition/" title="Hướng dẫn Download Adobe Audition"><img alt="Hướng dẫn Download Adobe Audition" class="lazyload" data-src="https://techcare.net.vn/image/huong-dan-download-adobe-audition-r3k4qw8.jpg?s=20" /></a>
								</div>
								<div class="news-body">
									<h5 class="news-item-title"><a href="../huong-dan-download-adobe-audition/" title="Hướng dẫn Download Adobe Audition">Hướng dẫn Download Adobe Audition</a></h5>
									<p class="news-item-time">31-10-2023 15:41</p>
									<p class="news-item-desc">Trong thời đại kỹ thuật số ngày nay, có rất nhiều tùy chọn có sẵn để ghi và chỉnh sửa âm thanh. Trong số những ứng cử viên hàng đầu trên thị trường là Adobe Audition, một Máy trạm âm thanh kỹ thuật số (DAW) mạnh mẽ và trực quan.</p>
								</div>
							</div><div class="news-item news-item-horizontal">
								<div class="news-item-img">
									<a href="../huong-dan-download-avast-premium-security/" title="Hướng dẫn Download Avast Premium Security"><img alt="Hướng dẫn Download Avast Premium Security" class="lazyload" data-src="https://techcare.net.vn/image/huong-dan-download-avast-premium-security-o74pqxh.jpg?s=20" /></a>
								</div>
								<div class="news-body">
									<h5 class="news-item-title"><a href="../huong-dan-download-avast-premium-security/" title="Hướng dẫn Download Avast Premium Security">Hướng dẫn Download Avast Premium Security</a></h5>
									<p class="news-item-time">31-10-2023 15:31</p>
									<p class="news-item-desc">Trong thế giới kỹ thuật số ngày nay, việc đảm bảo tính bảo mật và quyền riêng tư cho thông tin cá nhân của chúng ta trở nên quan trọng hơn bao giờ hết với số lượng ngày càng tăng của các mối đe dọa mạng và lừa đảo trực tuyến.</p>
								</div>
							</div><div class="news-item news-item-horizontal">
								<div class="news-item-img">
									<a href="../huong-dan-download-autocad/" title="Hướng dẫn Download AutoCAD"><img alt="Hướng dẫn Download AutoCAD" class="lazyload" data-src="https://techcare.net.vn/image/huong-dan-download-autocad-ohj9qxn.jpg?s=20" /></a>
								</div>
								<div class="news-body">
									<h5 class="news-item-title"><a href="../huong-dan-download-autocad/" title="Hướng dẫn Download AutoCAD">Hướng dẫn Download AutoCAD</a></h5>
									<p class="news-item-time">31-10-2023 15:23</p>
									<p class="news-item-desc">AutoCAD là một phần mềm đáng tin cậy và được sử dụng rộng rãi để phác thảo và thiết kế, và giờ đây, với ứng dụng AutoCAD Web, bạn có thể truy cập các chức năng thiết yếu của nó trên thiết bị di động của mình cho dù bạn cần chỉnh sửa nhẹ.</p>
								</div>
							</div><div class="news-item news-item-horizontal">
								<div class="news-item-img">
									<a href="../huong-dan-download-goldwave/" title="Hướng dẫn Download GoldWave"><img alt="Hướng dẫn Download GoldWave" class="lazyload" data-src="https://techcare.net.vn/image/huong-dan-download-goldwave-r7eeqxp.jpg?s=20" /></a>
								</div>
								<div class="news-body">
									<h5 class="news-item-title"><a href="../huong-dan-download-goldwave/" title="Hướng dẫn Download GoldWave">Hướng dẫn Download GoldWave</a></h5>
									<p class="news-item-time">31-10-2023 15:17</p>
									<p class="news-item-desc">Trong thế giới chỉnh sửa âm thanh kỹ thuật số, GoldWave nổi bật như một giải pháp phần mềm chuyên nghiệp và linh hoạt. Với hơn 29 năm kinh nghiệm, GoldWave đã trở thành một cái tên đáng tin cậy trong ngành, cung cấp nhiều tính năng và chức năng hay.</p>
								</div>
							</div><div class="news-item news-item-horizontal">
								<div class="news-item-img">
									<a href="../thua-mua-dien-thoai-iphone-da-nang/" title="Thu mua iPhone iPad Giá Cao Nhất Tại Đà Nẵng"><img alt="Thu mua iPhone iPad Giá Cao Nhất Tại Đà Nẵng" class="lazyload" data-src="https://techcare.net.vn/image/thua-mua-dien-thoai-iphone-da-nang-otqxqux.jpg?s=20" /></a>
								</div>
								<div class="news-body">
									<h5 class="news-item-title"><a href="../thua-mua-dien-thoai-iphone-da-nang/" title="Thu mua iPhone iPad Giá Cao Nhất Tại Đà Nẵng">Thu mua iPhone iPad Giá Cao Nhất Tại Đà Nẵng</a></h5>
									<p class="news-item-time">26-10-2023 11:28</p>
									<p class="news-item-desc">Chuyên thu mua iphone ipad cũ giá cao tại Đà Nẵng đến tận nơi giao đủ tiền, nhận thu mua iPhone iPad cũ giá cao Đà Nẵng với mọi Model, mua cả máy mới và máy hư hỏng</p>
								</div>
							</div><div class="news-item news-item-horizontal">
								<div class="news-item-img">
									<a href="../editplus-cong-cu-ho-tro-edit-code-manh-me/" title="EditPlus - Công cụ hỗ trợ edit code mạnh mẽ"><img alt="EditPlus - Công cụ hỗ trợ edit code mạnh mẽ" class="lazyload" data-src="https://techcare.net.vn/image/editplus-cong-cu-ho-tro-edit-code-manh-me-ox9jqxq.jpg?s=20" /></a>
								</div>
								<div class="news-body">
									<h5 class="news-item-title"><a href="../editplus-cong-cu-ho-tro-edit-code-manh-me/" title="EditPlus - Công cụ hỗ trợ edit code mạnh mẽ">EditPlus - Công cụ hỗ trợ edit code mạnh mẽ</a></h5>
									<p class="news-item-time">02-08-2023 14:27</p>
									<p class="news-item-desc">EditPlus là một phần mềm soạn thảo văn bản chất lượng cao, được phát triển đặc biệt để đáp ứng nhu cầu của các lập trình viên.</p>
								</div>
							</div><div class="news-item news-item-horizontal">
								<div class="news-item-img">
									<a href="../gioi-thieu-enscape-cong-cu-manh-me-de-truc-quan-hoa-kien-truc/" title="Giới thiệu Enscape: Công cụ mạnh mẽ để trực quan hóa kiến ​​trúc"><img alt="Giới thiệu Enscape: Công cụ mạnh mẽ để trực quan hóa kiến ​​trúc" class="lazyload" data-src="https://techcare.net.vn/image/gioi-thieu-enscape-cong-cu-manh-me-de-truc-quan-hoa-kien-truc-r1agqxr.jpg?s=20" /></a>
								</div>
								<div class="news-body">
									<h5 class="news-item-title"><a href="../gioi-thieu-enscape-cong-cu-manh-me-de-truc-quan-hoa-kien-truc/" title="Giới thiệu Enscape: Công cụ mạnh mẽ để trực quan hóa kiến ​​trúc">Giới thiệu Enscape: Công cụ mạnh mẽ để trực quan hóa kiến ​​trúc</a></h5>
									<p class="news-item-time">02-08-2023 10:16</p>
									<p class="news-item-desc">Enscape là một công cụ phần mềm tiên tiến giúp cách mạng hóa việc trực quan hóa kiến ​​trúc, cung cấp cho các kiến ​​trúc sư, nhà thiết kế và kỹ sư một cách liền mạch để chuyển đổi thiết kế của họ thành trải nghiệm 3D sống động.</p>
								</div>
							</div><div class="news-item news-item-horizontal">
								<div class="news-item-img">
									<a href="../phan-mem-chinh-sua-video-pinnacle-studio/" title="Phần mềm chỉnh sửa video Pinnacle Studio"><img alt="Phần mềm chỉnh sửa video Pinnacle Studio" class="lazyload" data-src="https://techcare.net.vn/image/phan-mem-chinh-sua-video-pinnacle-studio-oonyqxs.jpg?s=20" /></a>
								</div>
								<div class="news-body">
									<h5 class="news-item-title"><a href="../phan-mem-chinh-sua-video-pinnacle-studio/" title="Phần mềm chỉnh sửa video Pinnacle Studio">Phần mềm chỉnh sửa video Pinnacle Studio</a></h5>
									<p class="news-item-time">02-08-2023 08:07</p>
									<p class="news-item-desc">Pinnacle Studio là phần mềm chỉnh sửa video hàng đầu cho phép người dùng biến tầm nhìn sáng tạo của họ thành hiện thực.</p>
								</div>
							</div><div class="news-item news-item-horizontal">
								<div class="news-item-img">
									<a href="../phan-mem-bluebeam-revu-chinh-sua-chuyen-doi-thanh-tep-pdf/" title="Phần mềm Bluebeam Revu - Chỉnh sửa, chuyển đổi thành tệp PDF"><img alt="Phần mềm Bluebeam Revu - Chỉnh sửa, chuyển đổi thành tệp PDF" class="lazyload" data-src="https://techcare.net.vn/image/phan-mem-bluebeam-revu-chinh-sua-chuyen-doi-thanh-tep-pdf-29omqxt.jpg?s=20" /></a>
								</div>
								<div class="news-body">
									<h5 class="news-item-title"><a href="../phan-mem-bluebeam-revu-chinh-sua-chuyen-doi-thanh-tep-pdf/" title="Phần mềm Bluebeam Revu - Chỉnh sửa, chuyển đổi thành tệp PDF">Phần mềm Bluebeam Revu - Chỉnh sửa, chuyển đổi thành tệp PDF</a></h5>
									<p class="news-item-time">01-08-2023 14:02</p>
									<p class="news-item-desc">Bluebeam Revu là một công cụ phần mềm mạnh mẽ được thiết kế dành riêng cho ngành kiến trúc, kỹ thuật và xây dựng (AEC).</p>
								</div>
							</div><div class="news-item news-item-horizontal">
								<div class="news-item-img">
									<a href="../phan-mem-soan-thao-va-thiet-ke-cad-draftsight-2d/" title="Phần mềm soạn thảo và thiết kế CAD DraftSight 2D"><img alt="Phần mềm soạn thảo và thiết kế CAD DraftSight 2D" class="lazyload" data-src="https://techcare.net.vn/image/phan-mem-soan-thao-va-thiet-ke-cad-draftsight-2d-2rvrqxu.jpg?s=20" /></a>
								</div>
								<div class="news-body">
									<h5 class="news-item-title"><a href="../phan-mem-soan-thao-va-thiet-ke-cad-draftsight-2d/" title="Phần mềm soạn thảo và thiết kế CAD DraftSight 2D">Phần mềm soạn thảo và thiết kế CAD DraftSight 2D</a></h5>
									<p class="news-item-time">01-08-2023 09:30</p>
									<p class="news-item-desc">DraftSight là một công cụ linh hoạt hỗ trợ các nhà thiết kế, kiến ​​trúc sư, kỹ sư và nghệ sĩ biến tầm nhìn sáng tạo của họ thành hiện thực.</p>
								</div>
							</div><div class="news-item news-item-horizontal">
								<div class="news-item-img">
									<a href="../gioi-thieu-medcalc-phan-mem-thong-ke-y-hoc/" title="Giới thiệu MedCalc - Phần mềm thống kê y học"><img alt="Giới thiệu MedCalc - Phần mềm thống kê y học" class="lazyload" data-src="https://techcare.net.vn/image/gioi-thieu-medcalc-phan-mem-thong-ke-y-hoc-9no1qxv.jpg?s=20" /></a>
								</div>
								<div class="news-body">
									<h5 class="news-item-title"><a href="../gioi-thieu-medcalc-phan-mem-thong-ke-y-hoc/" title="Giới thiệu MedCalc - Phần mềm thống kê y học">Giới thiệu MedCalc - Phần mềm thống kê y học</a></h5>
									<p class="news-item-time">31-07-2023 14:16</p>
									<p class="news-item-desc">Phần mềm MedCalc là một trong những công cụ hữu ích nhất dành cho bạn. Trong bài viết này, chúng tôi sẽ giới thiệu về phần mềm MedCalc nhé.</p>
								</div>
							</div><div class="news-item news-item-horizontal">
								<div class="news-item-img">
									<a href="../phuong-tien-giup-quan-ly-cac-tep-toi-uu-cho-windows-xyplorer/" title="Phương tiện giúp quản lý các tệp tối ưu cho Windows - XYplorer"><img alt="Phương tiện giúp quản lý các tệp tối ưu cho Windows - XYplorer" class="lazyload" data-src="https://techcare.net.vn/image/phuong-tien-giup-quan-ly-cac-tep-toi-uu-cho-windows-xyplorer-osu1qxw.jpg?s=20" /></a>
								</div>
								<div class="news-body">
									<h5 class="news-item-title"><a href="../phuong-tien-giup-quan-ly-cac-tep-toi-uu-cho-windows-xyplorer/" title="Phương tiện giúp quản lý các tệp tối ưu cho Windows - XYplorer">Phương tiện giúp quản lý các tệp tối ưu cho Windows - XYplorer</a></h5>
									<p class="news-item-time">31-07-2023 11:11</p>
									<p class="news-item-desc">Bạn có cảm thấy mệt mỏi với trình quản lý tệp mặc định trên hệ thống Windows của mình không? Hãy sử dụng ngay phần mềm XYplorer nhé.</p>
								</div>
							</div>
						</div>
						<nav class="pagination-list" data-total="857" data-item="24" data-current="1"></nav>
					</div>
				</div>

			</div>
			<div class="col-lg-4 col-right">
				<div class="box box-bottom box-right">
					<div class="box-header">
						<p class="box-title">Tin tức mới</p>
					</div>
					<div class="box-body">
						<div class="news-list">
						</div>
					</div>
				</div>

				<div class="box box-bottom box-right">
					<div class="box-header">
						<p class="box-title">Sản phẩm mới</p>
					</div>
					<div class="box-body">
						<div class="product-list">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>