@{
    Layout = "_Layout";
    ViewData["Title"] = "About";
}

<section class="wrap">
    <div class="container">
        <div class="box article">
            <div class="article-header">
                <h1 class="article-title">Tìm hiểu về chúng tôi</h1>
            </div>
            <div class="article-wrap">
                <div class="article-body detail-content">
                    <h2 class="head" style="text-align: justify;"><strong><span style="font-size: 14pt; font-family: 'times new roman', times; color: #ff6600;">GIỚI THIỆU VỀ TECHCARE SERVICE</span></strong></h2>

                    <p><span style="font-size: 14pt; font-family: 'times new roman', times;">Trong thời đại công nghệ số 4.0 phát triển mạnh mẽ như hiện nay kéo theo sự kinh doanh của những trung tâm, hệ thống điện tử mọc lên ngày càng nhiều. Chính vì vậy, để lựa chọn được địa chỉ mua bán điện thoại laptop uy tín khiến nhiều người dùng lo lắng.</span></p>

                    <p><span style="font-size: 14pt; font-family: 'times new roman', times;"><span style="color: #ff0000;"><strong>Techcare</strong></span> là hệ thống công nghệ số một tại Đà Nẵng được nhiều khách hàng tin tưởng lựa chọn. Với nhiều năm kinh nghiệm trong lĩnh vực kinh doanh mua bán laptop uy tín tại Đà Nẵng. Hệ thống chúng tôi cung đa dạng về mẫu mã và phong phú về chủng loại đáp ứng hầu hết mọi nhu cầu cho người dùng từ phổ thông cho đến cao cấp.</span></p>

                    <p><span style="font-size: 14pt; font-family: 'times new roman', times;">Các sản phẩm laptop tại hệ thống đều đảm bảo chính hãng từ những thương hiệu điện tử nổi tiếng trên thế giới như Dell, HP, Lenovo,&hellip;</span></p>

                    <p><span style="font-size: 14pt; font-family: 'times new roman', times;">Không chỉ vậy, khi đến với <span style="color:#ff0000;"><strong>Techcare Đà Nẵng</strong></span>, các bạn sẽ được những chuyên viên tư vấn của chúng tôi hỗ trợ hết mình để chọn mua một sản phẩm phù hợp với yêu cầu và mức giá đưa ra.</span></p>

                    <p><span style="font-size: 14pt; font-family: 'times new roman', times;">Với đội ngũ nhân viên đã được đào tạo chuyên môn bài bản và có kinh nghiệm lâu năm trong lĩnh vực này sẽ mang đến cho các bạn những dịch vụ tốt nhất.</span></p>

                    <p><span style="font-size: 14pt; font-family: 'times new roman', times;">Hệ thống <span style="color:#ff0000;"><strong>Techcare</strong></span> luôn hoạt động với phương châm &ldquo;Sự hài lòng của khách hàng là động lực phát triển không ngừng của chúng tôi. Chính vì vậy, mọi hoạt động của Techcare đều hướng tới sự hài lòng của quý khách hàng, luôn thấu hiểu tâm lý của khách hàng.</span></p>

                    <p><span style="font-size: 14pt; font-family: 'times new roman', times;">Với nhiều năm hoạt động, Techcare đã dần tạo nên thương hiệu uy tín số một tại Đà Nẵng cũng như trong lòng khách hàng. Vì sự yêu thương của khách hàng, <span style="color:#ff0000;"><strong>Techcare</strong></span> chúng tôi sẽ cố gắng cải thiện về chất lượng sản phẩm, dịch vụ hơn nữa để mang lại trải nghiệm tốt nhất.</span></p>

                    <h2 class="head"><strong><span style="font-size: 14pt; font-family: 'times new roman', times; color: #ff6600;">Cam kết về sản phẩm từ Techcare:</span></strong></h2>

                    <ul>
                        <li><span style="font-size: 14pt; font-family: 'times new roman', times;">Đảm bảo sản phẩm 100% chính hãng, có nguồn gốc và xuất xứ rõ ràng.</span></li>
                        <li><span style="font-size: 14pt; font-family: 'times new roman', times;">Giá cả hợp lý với hầu bao của khách hàng.</span></li>
                        <li><span style="font-size: 14pt; font-family: 'times new roman', times;">Thời gian bảo hành dài hạn cho từng sản phẩm.</span></li>
                        <li><span style="font-size: 14pt; font-family: 'times new roman', times;">Hoàn tiền nếu phát hiện hàng giả hay bị lỗi từ nhà sản xuất.</span></li>
                    </ul>

                    <h2 class="head" style="text-align: justify;"><strong><span style="font-size: 14pt; font-family: 'times new roman', times; color: #ff6600;">Mục tiêu trong tương lai:</span></strong></h2>

                    <p><span style="font-size: 14pt; font-family: 'times new roman', times;">Chúng tôi sẽ xây dựng Techcare trở thành một trong những hệ thống mua bán điện thoại laptop uy tín, chất lượng, giá rẻ nhất tại Việt Nam. Cam kết mang đến sự hài lòng tuyệt đối cho quý khách với chi phí thấp nhất.</span></p>

                    <p><span style="font-size: 14pt; font-family: 'times new roman', times;">Techcare là địa chỉ mua bán laptop uy tín, không còn xạ lạ gì ở Đà Nẵng. Sự hài lòng của quý khách luôn là động lực của Techcare nổ lực phát triển và trau dồi không ngừng nghỉ để mang đến chất lượng dịch vụ tốt nhất cho khách hàng.</span></p>

                    <p><span style="font-size: 14pt; font-family: 'times new roman', times;">Techcare rất hân hạnh được phục vụ quý khách. Các bạn hãy nhanh chân đến và cảm nhận dịch vụ của hệ thống chúng tôi nhé.</span></p>

                    <p><span style="font-size: 14pt; font-family: 'times new roman', times;">Nếu bạn có bất cứ thắc mắc nào khác cứ liên hệ với <span style="color:#ff0000;"><strong>Techcare</strong></span> để được tư vấn miễn phí bạn nhé!.</span></p>

                    <p><span style="font-size: 14pt; font-family: 'times new roman', times;">Còn chần chừ gì nữa mà không đến với hệ thống Techcare để sở hữu cho mình những sản phẩm tốt nhất, chế độ bảo hành dài hạn và nhiều ưu đãi hấp dẫn.</span></p>

                    <p><span style="font-size: 14pt; font-family: 'times new roman', times; color: #0000ff;"><strong>Thông tin liên hệ</strong></span></p>

                    <p><span style="font-size: 14pt; font-family: 'times new roman', times;">Địa chỉ:&nbsp;</span></p>

                    <ul>
                        <li><span style="font-size: 14pt; font-family: 'times new roman', times;">99 -101 Hàm Nghi, Đà Nẵng&nbsp;</span></li>
                        <li><span style="font-size: 14pt; font-family: 'times new roman', times;">133 -135 Hàm Nghi, Đà Nẵng&nbsp;</span></li>
                        <li><span style="font-size: 14pt; font-family: 'times new roman', times;">101 Nguyễn Văn Thoại, Đà Nẵng</span></li>
                    </ul>

                    <p><span style="font-size: 14pt; font-family: 'times new roman', times;">Di động: <span style="color: #ff0000;"><strong>0236.366.3333</strong></span></span></p>

                    <p><span style="font-size: 14pt; font-family: 'times new roman', times;">Email: <span style="color: #ff0000;"><strong>cskh.techcare@gmail.com</strong></span></span></p>
                </div>
            </div>
        </div>
    </div>
</section>