@{
    Layout = "_Layout";
    ViewData["Title"] = "Delivery";
}

<section class="wrap">
	<div class="container">
		<div class="box article">
			<div class="article-header">
				<h1 class="article-title">Chính sách vận chuyển</h1>
			</div>
			<div class="article-wrap">
				<div class="article-body detail-content">
					<p><span style="font-size: 14pt; font-family: 'times new roman', times;">Con người đang ngày càng bị cuốn vào guồng quay của công việc mỗi ngày mà không có thời gian để làm bất kỳ chuyện gì khác nữa. Chính vì vậy, việc đặt hàng trực tuyến đang là xu thế được nhiều người áp dụng trong thời đại 4.0 hiện nay. Hơn nữa, chính sách vận chuyển là một trong những yếu tố được nhiều người quan tâm nhất.</span></p>

					<p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Hiểu được tâm lý này của khách hàng nên hệ thống <span style="color:#ff0000;"><strong>Techcare</strong></span> luôn tạo mọi điều kiện tốt nhất để quý khách hàng trải nghiệm dịch vụ tại cửa hàng chúng tôi. Khi quý khách hàng không thể đến trực tiếp cửa hàng để mua laptop, điện thoại thì cũng có thể đặt qua mạng hoặc điện thoại. Sau khi tiếp nhận đơn hàng, chúng tôi sẽ chuyển hàng đến tận nhà cho quý khách hàng. Đặc biệt hơn, các bạn còn được kiểm tra sản phẩm kỹ càng trước khi thanh toán cho nhân viên giao hàng và quý khách hàng có quyền đổi trả nếu hàng bị lỗi.</span></p>

					<ul class="wp-block-list" style="text-align: justify;">
						<li>
							<p><span style="font-size: 14pt; font-family: 'times new roman', times;">Thời gian giao nhận: <span style="color:#ff0000;"><strong>3 ngày</strong></span> kể từ ngày quý khách mua hàng.</span></p>
						</li>
						<li>
							<p><span style="font-size: 14pt; font-family: 'times new roman', times;"><span style="color:#ff0000;"><strong>Free ship nội thành</strong></span> tại Đà Nẵng.</span></p>
						</li>
						<li>
							<p><span style="font-size: 14pt; font-family: 'times new roman', times;"><span style="color:#ff0000;"><strong>Ship COD ngoại thành</strong></span>, tùy thuộc vào từng tỉnh thành mà phí ship sẽ khác nhau. Techcare sử dụng các dịch vụ chuyển phát nhanh có uy tín và không để quý khách phải chờ lâu. Khi hàng được chuyển đi, nhân viên giao hàng sẽ gọi điện thoại trước cho quý khách. Quý khách có thể chủ động hẹn thời gian để nhận hàng với bên vận chuyển.</span></p>
						</li>
						<li>
							<p><span style="font-size: 14pt; font-family: 'times new roman', times;">Techcare&nbsp;cam kết sẽ giải quyết tất cả mọi trường hợp lỗi phát sinh trong suốt quá trình chuyển phát nhanh. Bên cạnh đó, nếu quý khách hàng vắng mặt ở nơi giao hàng mà không báo trước với hệ thống chúng tôi hoặc chúng tôi không thể liên hệ để giao hàng thì đơn hàng sẽ bị hủy.</span></p>
						</li>
					</ul>

					<p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Để giải quyết những trường hợp đổi trả hàng nhanh chóng, xin quý khách hàng lưu ý giữ lại phiếu giao nhận hàng cũng hóa đơn thanh toán của mình.</span></p>

					<p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Trên đây là toàn bộ những thông tin về chính sách vận chuyển của hệ thống <span style="color:#ff0000;"><strong>Techcare</strong></span> đưa ra&nbsp; để quý khách hàng có thể hiểu hơn về dịch vụ chăm sóc khách hàng của chúng tôi. Đảm bảo sẽ không để quý khách phải thất vọng vì đặt niềm tin sai chỗ. Chúng tôi rất hân hạnh được phục vụ quý khách.</span></p>

					<p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Sự hài lòng của quý khách là động lực phát triển không ngừng của chúng tôi.</span></p>

					<p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Quý khách có thể liên hệ với hệ thống <span style="color:#ff0000;"><strong>Techcare service</strong></span> qua thông tin dưới đây</span></p>

					<p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Địa chỉ:</span></p>

					<ul style="text-align: justify;">
						<li><span style="color: #ff0000;"><span style="font-size: 14pt; font-family: 'times new roman', times;"><strong>99 &ndash; 101 Hàm Nghi, Thanh Khê, Đà Nẵng</strong></span><span style="font-size: 14pt; font-family: 'times new roman', times;"> </span></span></li>
						<li><span style="color: #ff0000;"><span style="font-size: 14pt; font-family: 'times new roman', times;"><strong>133 -135 Hàm Nghi, Thanh Khê, Đà Nẵng</strong></span><span style="font-size: 14pt; font-family: 'times new roman', times;"> </span></span></li>
						<li><span style="font-size: 14pt; font-family: 'times new roman', times; color: #ff0000;"><strong>101 Nguyễn Văn Thoại, Sơn Trà, Đà Nẵng</strong></span></li>
					</ul>

					<p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Di động: <span style="color: #ff0000;"><strong>0236.366.3333</strong></span></span></p>

					<p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Email: <span style="color: #ff0000;"><strong>cskh.techcare@gmail.com</strong></span></span></p>
				</div>
			</div>
		</div>
	</div>
</section>