@{
    Layout = "_Layout";
    ViewData["Title"] = "Return";
}

<section class="wrap">
    <div class="container">
        <div class="box article">
            <div class="article-header">
                <h1 class="article-title">Chính sách đổi trả</h1>
            </div>
            <div class="article-wrap">
                <div class="article-body detail-content">
                    <h2 style="text-align: justify;"><span style="font-size: 18pt; font-family: 'times new roman', times; color: #ff6600;"><strong>Chính sách đổi máy tại Techcare</strong></span></h2>

                    <p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Techcare được biết đến là một hệ thống bán lẻ lớn trị trường và có uy tín trong cộng đồng người dùng. Mỗi sản phẩm tại hệ thống Techcare đều được chăm sóc một cách kỹ càng bởi đội ngũ nhân viên chuyên nghiệp ở đây. </span></p>

                    <p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Ngoài chất lượng sản phẩm và dịch vụ nằm ngoài sự mong đợi thì sự tin tưởng và yêu mến của quý khách hàng dành cho <span style="color:#ff0000;"><strong>Techcare</strong></span> còn nằm ở chính sách đổi máy và lên đời máy. Tiêu chí này đã mang lại sự hài lòng của khách hàng cùng sự linh hoạt trong chính sách đổi máy tạo nên cái nhãn thần thánh cho dịch vụ của hệ thống Techcare.</span></p>

                    <h2 style="text-align: justify;"><span style="font-size: 18pt; font-family: 'times new roman', times; color: #ff6600;"><strong>Chính sách đổi trả, nâng đời máy tại Techcare</strong></span></h2>

                    <p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Vậy điều gì ở chính sách đổi máy, lên đời máy của hệ thống <span style="color:#ff0000;"><strong>Techcare</strong></span> lại được cho là thần thánh mà bất kỳ khách hàng nào cũng bị lôi cuốn như thế? Hãy cùng tìm hiểu ngay dưới đây nhé.</span></p>

                    <p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Điểm thu hút đầu tiên chắc có lẽ tới từ chính sách đổi máy rất dễ thở cho khách hàng khi mua sản phẩm tại hệ thống Techcare. Quý khách hàng sẽ có 20 ngày để sử dụng và trải nghiệm sản phẩm mà Techcare mang đến. </span></p>

                    <p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Trong thời gian này, nếu sản phẩm phát sinh những lỗi kỹ thuật, bất cứ lỗi thuộc về bản chất của máy mà không phải lỗi phát sinh từ tác động lực bên ngoài như bị xước, bị rơi, bị ướt nước hoặc bị cấn móp thì quý khách đều được hưởng chính sách 1 đổi 1 từ <span style="color:#ff0000;"><strong>Techcare</strong></span> ngay lập tức.</span></p>

                    <p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Bản thân sản phẩm luôn ẩn chứa nhiều rủi ro công nghệ khác nhau, <span style="color:#ff0000;"><strong>Techcare</strong></span> sẽ chịu trách nhiệm hoàn toàn về lỗi vốn có của sản phẩm nếu trước đó hệ thống chưa thể kiểm soát.</span></p>

                    <p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Về giá trị của sản phẩm sẽ được tính ở thời điểm quý khách mang tới để thực hiện giao dịch đổi trả. Khoảng thời gian 20 ngày được xem là vô cùng ưu đãi đối với khách hàng bởi không có nhiều đơn vị cung cấp sản phẩm công nghệ có thời gian đổi trả lâu đến vậy.</span></p>

                    <p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Điểm nổi bật nữa trong chính sách thần thánh của hệ thống <span style="color:#ff0000;"><strong>Techcare</strong></span> chính là dịch vụ nâng đời máy mới. Techcare hiểu rằng những sản phẩm công nghệ đều luôn tiềm ẩn các rủi ro khi sử dụng. Và hơn hết là nhu cầu, thị hiếu của khách hàng sẽ thay đổi vì vậy có thể sản phẩm mà quý khách chọn chưa đáp ứng hết những mong muốn của mình.</span></p>

                    <p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Nhu cầu lên đời máy vì thế mà hình thành như dòng chảy tất yếu, do đó Techcare ở đây để thay bạn thỏa mãn điều đó. Trong thời gian bảo hành, khách hàng có nhu cầu thay đổi sản phẩm, lên đời chiếc laptop điện thoại của mình sẽ nhận được sự trợ giúp từ Techcare. Chính sách nâng đời máy sẽ phụ thuộc vào tỷ lệ khấu hao máy được tính trên thời gian quý khách sử dụng máy. Mức giá cực kỳ ưu đãi như sau:</span></p>

                    <ul style="text-align: justify;">
                        <li><span style="font-size: 14pt; font-family: 'times new roman', times;">Với máy mua và sử dụng từ <span style="color:#ff0000;"><strong>2 &ndash; 6 tháng</strong></span>, mức phí khấu hao sẽ từ khoảng <span style="color:#ff0000;"><strong>trên 15%</strong></span> máy.</span></li>
                        <li><span style="font-size: 14pt; font-family: 'times new roman', times;">Với máy mua và sử dụng từ <span style="color:#ff0000;"><strong>7-12 tháng</strong></span>, mức phí khấu hao sẽ từ khoảng <span style="color:#ff0000;"><strong>10-30%</strong></span>.</span></li>
                    </ul>

                    <p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Đối với các mẫu laptop điện thoại càng có giá trị cao thì phí khấu hao sẽ càng thấp. Còn đối với những dòng máy đã hết thời gian bảo hành thì quý khách cũng có thể lên đời dễ dàng nhưng đương nhiên giá trị của nó sẽ định giá lại. Nhân viên kỹ thuật của chúng tôi sẽ trực tiếp kiểm tra và tiến hành thương lượng giao dịch với khách hàng sao cho có lợi nhất. Thậm chí là đổi luôn cả phụ kiện mới nếu khách yêu cầu.</span></p>

                    <p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Để có mức ưu đãi tạo ra giao dịch thuận lợi cho cả đôi bên thì các sản phẩm khách hàng đem đổi trả vẫn phải đảm bảo một số yêu cầu nhỏ như: còn nguyên tem, chưa bị rơi vỡ, vào nước. Có thể thấy rằng đây chính là ưu điểm nổi bật nhất trong chính sách lên đời máy tại hệ thống <span style="color:#ff0000;"><strong>Techcare</strong></span>.</span></p>

                    <p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Nếu xét về thị trường công nghệ này, có rất ít địa chỉ có được chính sách lên đời máy đã hết bảo hành như Techcare. Đặc biệt là việc đo lường chính xác giá trị sản phẩm thay vì tăng lượng khấu hao máy của quý khách để mang lợi nhuận về cho mình. Techcare tự hào luôn minh bạc vì khách hàng của mình.</span></p>

                    <h2 style="text-align: justify;"><span style="font-size: 18pt; font-family: 'times new roman', times; color: #ff6600;"><strong>Chính sách thâu mua máy đã qua sử dụng</strong></span></h2>

                    <p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Ngoài các dịch vụ hỗ trợ khách hàng về sản phẩm đã mua tại hệ thống Techcare, chúng tôi còn hỗ trợ thâu mua sản phẩm đã qua sử dụng từ quý khách. Khách hàng có thể bán lại những sản phẩm mà mình đã từng sử dụng và sẽ được Techcare thâu lại mọi sản phẩm đã bán tại <span style="color:#ff0000;"><strong>Techcare</strong></span> bất cứ thời điểm nào.</span></p>

                    <p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Đến với Techcare, khách hàng sẽ nhận được ưu đãi hấp dẫn với chính sách tính khấu hao theo mức có lợi nhất như đã chia sẻ ở trên. Đội ngũ chuyên viên kỹ thuật sẽ trực tiếp thẩm định sản phẩm để thảo luận chi phí khấu hao tốt nhất.</span></p>

                    <p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Từ những phân tích trên có thể rằng khi so sánh với những hệ thống bán lẻ khác, Techcare có chính sách đổi trả, nâng đời và thâu mua máy cũ của mình đã tạo ra được một điểm sáng lớn thu hút được rất nhiều khách hàng. Với mục tiêu luôn mang lại cho khách hàng sự thuận lợi, chính sách dịch vụ sở hữu nhiều ưu điểm nổi bật và đặc biệt luôn đặt lợi ích của quý khách hàng lên hàng đầu. <span style="color:#ff0000;"><strong>Techcare</strong></span> chắc chắn là địa chỉ đáng để bạn gửi trọn niềm tin.</span></p>

                    <p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Mọi thắc mắc về dịch vụ hãy liên hệ ngay với chúng tôi:</span></p>

                    <p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Địa chỉ:</span></p>

                    <ul>
                        <li style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times; color: #ff0000;"><strong>99 -101 Hàm Nghi, Đà Nẵng</strong></span></li>
                        <li style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times; color: #ff0000;"><strong>133 -135 Hàm Nghi, Đà Nẵng</strong></span></li>
                        <li style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times; color: #ff0000;"><strong>101 Nguyễn Văn Thoại, Đà Nẵng</strong></span></li>
                    </ul>

                    <p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Di động: <span style="color: #ff0000;"><strong>0236.366.3333</strong></span></span></p>

                    <p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Email: <span style="color: #ff0000;"><strong>cskh.techcare@gmail.com</strong></span></span></p>
                </div>
            </div>
        </div>
    </div>
</section>