@{
    Layout = "_Layout";
    ViewData["Title"] = "Security";
}

<section class="wrap">
	<div class="container">
		<div class="box article">
			<div class="article-header">
				<h1 class="article-title">Chính sách bảo mật</h1>
			</div>
			<div class="article-wrap">
				<div class="article-body detail-content">
					<p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Trong thời đại công nghệ phát triển như hiện nay, bất cứ dịch vụ nào cũng đều được các cửa hàng đặc biệt chú trọng đến vấn đề bảo mật thông tin khách hàng.</span></p>

					<p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Tại <span style="color: #ff0000;"><strong>TECHCARE</strong></span>, hệ thống công nghệ số 1 Đà nẵng luôn coi việc bảo vệ thông tin cá nhân của khách hàng là yếu tố được đặt lên hàng đầu. Bởi chúng tôi hiểu rằng những thông tin cá nhân của khách hàng đều là quyền riêng tư của mỗi người. Chính vì vậy, Techcare luôn nỗ lực hết sức lưu trữ bảo mật cũng như xử lý cẩn thận thông tin mà khách hàng đã chia sẻ với chúng tôi. Khi sử dụng chúng đều được sự cho phép cho quý khách hàng và tuyệt đối không cung cấp thông tin cho bên thứ 3 khi chưa được sự đồng ý của khách hàng.</span></p>

					<p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Techcare cam kết sẽ là nơi để khách hàng gửi gắm niềm tin mỗi khi đến với hệ thống. Hãy cùng chúng tôi tìm hiểu chính sách bảo mật của Techcare để quý khách hiểu rõ hơn về dịch vụ tại hệ thống chúng tôi nhé.</span></p>

					<p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Mọi thông tin của khách hàng cung cấp cho Techcare đều được lưu giữ ở chế độ bảo mật cao và tránh tình trạng bị làm phiền bởi những đối tượng có mục đích xấu. Chúng tôi cam kết sẽ sử dụng thông tin quý khách hàng một cách hợp lý khi được sự đồng ý, để từ đó cân nhắc để cải thiện chất lượng dịch vụ hơn.</span></p>

					<h2 style="text-align: justify;"><span style="font-size: 18pt; color: #ff6600;"><strong><span style="font-family: 'times new roman', times;">Mục đích và phạm vi thu thập:</span></strong></span></h2>

					<p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Việc thu thập thông chủ yếu trên trang web https://techcare.net.vn/ bao gồm: họ tên, số điện thoại, email, địa chỉ khách hàng,.. Đây là những thông tin mà Techcare cần khách hàng cung cấp để đăng ký sử dụng dịch vụ cũng như Techcare sẽ liên hệ xác nhận khi khách hàng đăng ký sử dụng các dịch vụ tại Techcare nhằm đảm bảo mọi quyền lợi cho khách hàng.</span></p>

					<p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Trong quá trình giao dịch thanh toán tại trang web https://techcare.net.vn/, chúng tôi chỉ lưu giữu những thông tin liên quan đến đơn hàng đã thanh toán của quý khách, còn thông tin về số tài khoản ngân hàng của khách hàng sẽ không được lưu trữ.</span></p>

					<p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Khách hàng sẽ tự chịu trách nhiệm bảo mật và lưu trữ tất cả các hoạt động sử dụng dịch vụ hay những thông tin khi được gửi về hộp thư điện tử của mình. Bên cạnh đó, khách hàng còn có trách nhiệm thông báo kịp thời đến trang web https://techcare.net.vn/ về những hành vi sử dụng trái phép, lạm dụng, vi phạm bảo mật cũng như lưu giữ tên đăng ký và mật khẩu của bên thứ ba để chúng tôi có biện pháp giải quyết phù hợp.</span></p>

					<h2 style="text-align: justify;"><span style="color: #ff6600; font-size: 18pt;"><strong><span style="font-family: 'times new roman', times;">Phạm vi sử dụng thông tin:</span></strong></span></h2>

					<p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Công ty sử dụng thông tin khách hàng cung cấp để:</span></p>

					<ul>
						<li style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Cung cấp thông tin về sản phẩm, dịch vụ đến khách hàng;</span></li>
						<li style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Giao hàng cho khách hàng;</span></li>
						<li style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Gửi những thông báo về các hoạt động trao đổi thông tin giữa khách hàng và trang web https://techcare.net.vn/ như các chương trình khuyến mãi, tri ân khách hàng,&hellip;;</span></li>
						<li style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Ngăn ngừa những hoạt động phá hủy tài khoản người dùng của khách hàng hoặc những hoạt động giả mạo khách hàng;</span></li>
						<li style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Liên lạc và giải quyết với khách hàng trong các trường hợp đặc biệt.</span></li>
						<li style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Không sử dụng những thông tin cá nhân của khách hàng ngoài mục đích xác nhận cũng như liên hệ trao đổi về giao dịch tại https://techcare.net.vn/;</span></li>
					</ul>

					<p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Trong trường hợp pháp luật yêu cầu: Công ty có trách nhiệm hợp tác cung cấp những thông tin cá nhân của khách hành khi có yêu cầu từ các cơ quan tư pháp bao gồm: tòa án, viện kiểm sát, cơ quan công an điều tra liên quan đến những hành vi vi phạm pháp luật của khách hàng. Còn lại không có quyền xâm phạm vào những thông tin cá nhân của khách hàng.</span></p>

					<h2 style="text-align: justify;"><span style="font-size: 18pt; color: #ff6600;"><strong><span style="font-family: 'times new roman', times;">Thời gian lưu trữ thông tin:</span></strong></span></h2>

					<p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Các thông tin cá nhân của khách hàng sẽ được lưu trữ cho đến khi có yêu cầu hủy bỏ. Còn lại trong tất cả các trường hợp thông tin cá nhân của khách hàng sẽ được bảo mật ngay trên máy chủ của https://techcare.net.vn/</span></p>

					<h2 style="text-align: justify;"><span style="font-size: 18pt; color: #ff6600;"><strong><span style="font-family: 'times new roman', times;">Những người hoặc tổ chức có thể được tiếp cận với những thông tin cá nhân:</span></strong></span></h2>

					<p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Đối tượng được tiếp cận với những thông tin cá nhân của khách hàng thuộc một trong những trường hợp sau:</span></p>

					<ul>
						<li style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Công Ty TNHH MTV Quốc Tế Phúc Thành Đạt</span></li>
						<li style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Các đối tác có ký hợp động thực hiện một phần dịch vụ do Công Ty TNHH MTV Quốc Tế Phúc Thành Đạt cung cấp. Các đối tác này sẽ nhận được các thông tin đã thỏa thuận trên hợp đồng (có thể là một phần hoặc toàn bộ thông tin tùy thuộc điều khoản hợp đồng) để tiến hành hỗ trợ khách hàng sử dụng dịch vụ do Công ty cung cấp.</span></li>
						<li style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Cơ quan nhà nước khi yêu cầu Công ty cung cấp các thông tin cá nhân của khách hàng để phục vụ quá trình điều tra.</span></li>
						<li style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Người mua và người bán xảy ra những tranh chấp và yêu cầu Công ty là đơn vị hòa giải.</span></li>
					</ul>

					<h2 style="text-align: justify;"><span style="font-size: 18pt; color: #ff6600;"><strong><span style="font-family: 'times new roman', times;">Địa chỉ của đơn vị thu thập và quản lý thông tin cá nhân:</span></strong></span></h2>

					<ul>
						<li style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Công Ty TNHH MTV Quốc Tế Phúc Thành Đạt</span></li>
						<li style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">ĐKKD: 0401741816 do sở KH&amp;ĐT TP.ĐÀ Nẵng cấp</span></li>
						<li style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">133-135 Hàm Nghi, P.Vĩnh Trung, Thanh Khê, TP: Đà Nẵng, Việt Nam</span></li>
						<li style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Tell: 0236.220.5555</span></li>
						<li style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Email: phucthanhdatdn@gmail.com</span></li>
					</ul>

					<h2 style="text-align: justify;"><span style="font-size: 18pt; color: #ff6600;"><strong><span style="font-family: 'times new roman', times;">Phương tiện và công cụ để người dùng tiếp cận và chỉnh sửa dữ liệu cá nhân của mình:</span></strong></span></h2>

					<p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Khách hàng có quyền tự kiểm tra, cập nhật cũng như điều chỉnh hoặc hủy bỏ những thông tin cá nhân của mình bằng cách yêu cầu https://techcare.net.vn/ thực hiện việc này.</span></p>

					<p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Khách hàng cũng có quyền gửi khiếu nại về người bán đến Ban quản trị của trang web https://techcare.net.vn/. Khi tiếp nhận những phản hồi này của khách hàng, https://techcare.net.vn/ sẽ xác nhận lại thông tin. Trong trường hợp đúng như những phản ánh của khách hàng tùy thuộc vào từng mức độ mà https://techcare.net.vn/ sẽ có các biện pháp xử lý kịp thời.</span></p>

					<h2 style="text-align: justify;"><span style="font-size: 18pt; color: #ff6600;"><strong><span style="font-family: 'times new roman', times;">Cam kết bảo mật thông tin cá nhân của khách hàng:</span></strong></span></h2>

					<p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Thông tin cá nhân của khách hàng tại trang web https://techcare.net.vn/ sẽ được https://techcare.net.vn/ cam kết bảo mật hoàn toàn tuyệt đối theo chính sách bảo vệ thông tin cá nhân của https://techcare.net.vn/. Việc thu thập và sử dụng các thông tin cá nhân của khách hàng chỉ được thực hiện khi có sự cho phép từ khách hàng, trừ các trường hợp pháp luật có quy định khác.</span></p>

					<p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Không sử dụng, không chuyển giao hoặc cung cấp và tiết lộ cho bên thứ 3 về nhưng thông tin cá nhân của khách hàng khi chưa có sự đồng ý của khách hàng.</span></p>

					<p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Trong trường hợp máy chủ lưu trữ thông tin bị các hacker tấn công dẫn đến mất dữ liệu, thông tin cá nhân của khách hàng, https://techcare.net.vn/ sẽ có trách nhiệm thông báo vụ việc này để cơ quan chức năng điều tra xử lý kịp thời cũng như thông báo cho khách hàng được biết.</span></p>

					<p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Bảo mật tuyệt đối tất cả các thông tin giao dịch trực tuyến của khách hàng, trong đó gồm thông tin hóa đơn kế toán chứng từ số hóa trên trang web https://techcare.net.vn/.</span></p>

					<p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Ban quản lý https://techcare.net.vn/ yêu cầu các khách hàng đăng ký/ mua hàng phải cung cấp đầy đủ những thông tin cá nhân gồm có: Họ và tên, email, điện thoại, địa chỉ liên lạc, số tài khoản, số thẻ thanh toán&hellip;., và chịu trách nhiệm về tính pháp lý của các thông tin trên. Ban quản lý https://techcare.net.vn/ không chịu trách nhiệm và giải quyết mọi khiếu nại có liên quan tới quyền lợi của khách hàng đó nếu xét thấy các thông tin cá nhân của khách hàng cung cấp ban đầu không chính xác.</span></p>

					<h2 style="text-align: justify;"><span style="font-size: 18pt; color: #ff6600;"><strong><span style="font-family: 'times new roman', times;">Cơ chế tiếp nhận và giải quyết khiếu nại liên quan đến việc thông tin cá nhân của khách hàng</span></strong></span></h2>

					<p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Khách hàng có quyền gửi khiếu nại về việc để lộ thông tin cá nhân của mình cho bên thứ 3 đến Ban quản trị của trang web https://techcare.net.vn/ đến địa chỉ công ty hay qua email.</span></p>

					<p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Email: phucthanhdatdn@gmail.com</span></p>

					<p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Công ty có trách nhiệm thực hiện những biện pháp kỹ thuật, nghiệp vụ để xác minh các nội dung mà khách hàng phản ánh.</span></p>

					<p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Thời gian xử lý phản ánh liên quan đến các thông tin cá nhân của khách hàng là 15 ngày.</span></p>

					<p style="text-align: justify;"><span style="color: #ff0000;"><strong><span style="font-size: 14pt; font-family: 'times new roman', times;">LIÊN HỆ NGAY VỚI TECHCARE</span></strong></span></p>

					<p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Hotline: 0236.366.3333</span></p>

					<p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Địa chỉ hệ thống:</span></p>

					<ul>
						<li style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">133 &ndash; 135 Hàm Nghi, Thanh Khê, Đà Nẵng</span></li>
						<li style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">99 &ndash; 101 Hàm Nghi, Thanh Khê, Đà Nẵng</span></li>
						<li style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">101 Nguyễn Văn Thoại, Sơn Trà, Đà Nẵng</span></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>