@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class="wrap">
    <div class="container">
        <div class="box article">
            <div class="article-header">
                <h1 class="article-title">Chính sách bảo hành</h1>
            </div>
            <div class="article-wrap">
                <div class="article-body detail-content">
                    <p style="text-align: center;"><span style="color: #ff6600; font-size: 20pt;"><strong><span style="font-family: 'times new roman', times;">CHÍNH SÁCH BẢO HÀNH CỦA TECHCARE</span></strong></span></p>

                    <p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Lưu ý: Các sản phẩm bảo hành phải trong thời gian bảo hành và còn nguyên tem của hệ thống Techcare</span></p>

                    <h2 style="text-align: justify;"><span style="font-size: 18pt; color: #ff6600;"><strong><span style="font-family: 'times new roman', times;">Đối với máy đã qua sử dụng</span></strong></span></h2>

                    <p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;"><strong>1.</strong> Bảo hành 1 đổi 1 đối với linh kiện bị lỗi còn trong thời gian bảo hành</span></p>

                    <p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Nếu linh kiện thay thế không có hàng sẵn và cần phải đặt hàng thì Techcare sẽ giải quyết cho khách hàng trong vòng <span style="color:#ff0000;"><strong>7 ngày</strong></span> <em>(kể cả ngày chủ nhật và ngày lễ)</em>. Nếu quá thời gian <span style="color:#ff0000;"><strong>7 ngày</strong></span> mà vẫn chưa có linh kiện thay thế, Techcare sẽ đổi sang máy tương tự khác cho khách hàng.</span></p>

                    <p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Nếu khách hàng không đồng ý việc đổi sang máy tương tự khác thì <span style="color:#ff0000;"><strong>Techcare</strong></span> sẽ nhập một chiếc laptop khác cùng model, cấu hình như đã mua trước đó để đổi trong thời hạn tối đa 1 tháng.</span></p>

                    <p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;"><strong>2.</strong> Màn hình được bảo hành trong trường hợp có từ 5 điểm lỗi bao gồm điểm chết, điểm sáng, bảo hành theo độ phân giải như HD, Full HD,&hellip; không phân biệt loại tấm nền của màn hình TN, VA, IPS&hellip;,</span></p>

                    <p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;"><strong>3.</strong> Đối với linh kiện pin được bảo hành <span style="color:#ff0000;"><strong>3 tháng</strong></span> và bảo hành thêm <span style="color:#ff0000;"><strong>1 tháng</strong></span> nữa nếu như có phát sinh bảo hành ở tháng cuối cùng. Đối với linh kiện khác ngoại trừ pin được bảo hành thêm 3 tháng nữa nếu như có phát sinh bảo hành trong thời gian 3 tháng cuối theo như chính sách bảo hành tại thời điểm quý khách mua hàng.</span></p>

                    <p style="text-align: justify;"><em><span style="font-size: 14pt; font-family: 'times new roman', times;">Không áp dụng chính sách cộng dồn thời gian bảo hành.</span></em></p>

                    <p style="text-align: justify;"><em><span style="font-size: 14pt; font-family: 'times new roman', times;">(Ví dụ: Máy B được bảo hành chính hãng 12 tháng, tới tháng thứ 11 phát sinh bảo hành màn hình, như thế màn hình sẽ được bảo hành thêm 3 tháng kể từ thời điểm xuất hóa đơn bảo hành).</span></em></p>

                    <p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Không bảo hành với các tùy chọn cấu hình cộng thêm mà không tính thêm chi phí (màn hình cảm ứng, bàn phím có led, webcam, trackpoint, cảm biến vân tay).</span></p>

                    <p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Không nhận bảo hành đối với các thiết bị hư hỏng do rơi vỡ, cấn móp, không còn tình trạng như ban đầu, cháy nổ, hơi ẩm, đổ nước, tỳ đè, có côn trùng xâm nhập, màn hình bị vỡ, bầm, dập, kẻ, sọc, chảy mực.</span></p>

                    <p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Không bảo hành hay chịu trách trách nhiệm về dữ liệu, tính hợp pháp của các phần mềm, dữ liệu có trong thiết bị của quý khách. Vì thế, khách hàng nên lưu lại dữ liệu của mình trên máy trước khi gửi bảo hành tại Techcare.</span></p>

                    <p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Không bảo hành máy đối với các trường hợp bị mất toàn bộ tem trước hoặc mặt sau. Tuy nhiên, vẫn giữ bảo hành đối với các linh kiện đã được nâng cấp, thay thế còn tem mắc của Techcare và nhà cung cấp.</span></p>

                    <h3 style="text-align: justify;"><span style="font-size: 18pt; color: #ff6600;"><strong><span style="font-family: 'times new roman', times;">Đối với máy mới</span></strong></span></h3>

                    <p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;"><strong>1.</strong> Quý khách được quyền đổi máy khác nếu như sản phẩm đó gặp lỗi kỹ thuật trong ngày <span style="color:#ff0000;"><strong>20 ngày</strong></span> kể từ khi mua hàng. Lỗi kỹ thuật này được xác định là do NSX.</span></p>

                    <p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Đối với sản phẩm giống hệt ở hệ thống mà quý khách mua trước đó cùng model, cấu hình với điều kiện ngoại hình máy như mới không bị trày xước, móp méo, không mất tem, các phụ kiện đi kèm, hộp đựng.</span></p>

                    <p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Nếu không có sản phẩm giống hệt, quý khách đợi hệ thống chúng tôi điều chuyển hàng về tối đa <span style="color:#ff0000;"><strong>7 ngày</strong></span>. Trong thời gian chờ điều chuyển, Techcare sẽ cho quý khách hàng mượn máy cũ có giá trí không quá 70% giá trị sản phẩm của quý khách đã mua trước đó hoặc đổi sang sản phẩm khác với giá trị bằng hoặc lớn hơn 90% giá trị sản phẩm mà khách hàng đã mua. Sản phẩm được đổi sang là sản phẩm mới 100% hoặc đổi sang dòng laptop cũ tại cửa hàng và áp dụng chính sách bảo hành đối với những sản phẩm cũ.</span></p>

                    <p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;"><strong>2.</strong> Không bảo hành hay chịu trách trách nhiệm về dữ liệu, tính hợp pháp của các phần mềm, dữ liệu có trong thiết bị của quý khách. Vì thế, khách hàng nên lưu lại dữ liệu của mình trên máy trước khi gửi bảo hành tại Techcare.</span></p>

                    <p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;"><strong>3.</strong> Các sản phẩm của <span style="color:#ff0000;"><strong>Techcare</strong></span> đều tuân thủ điều kiện bảo hành của nhà cung cấp và hãng sản xuất.</span></p>

                    <p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Đối với ổ cứng SSD: chính sách bảo hành sẽ theo đúng thời gian quy định của NCC hoặc tổng dung lượng ghi tối đa trên ổ cứng <em>(được viết tắt TBW &ndash; Tera Byte Written)</em> không vượt quá giá trị niêm yết của nhà sản xuất cho từng model đó, tùy vào điều kiện nào đến trước.</span></p>

                    <p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Các trường hợp sau đây bị xem là vi phạm điều kiện bảo hành và không được bảo hành.</span></p>

                    <p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Sản phẩm đã hết thời hạn bảo hành.</span></p>

                    <p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Không bảo hành các sản phẩm card đồ họa đã được sử dụng vào mục đích khai thác tiền điện tử.</span></p>

                    <p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Không có tem bảo hành hợp lệ của Techcare, nhà phân phối và hãng sản xuất hoặc bị rách, bong/tróc, tẩy xóa, sửa chữa, mờ không đọc,&hellip;</span></p>

                    <p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Trên sản phẩm không có mã vạch, serial, thông số kỹ thuật hợp lệ hay những thông tin này bị mờ không thể đọc được, bị cạo, bị rách, bị bong/tróc, bị sửa, bị thay đổi.</span></p>

                    <p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Sản phẩm bị lỗi do thiên tai, thời tiết, sai điện áp quy định, nguồn điện sử dụng không bình thường&hellip;</span></p>

                    <p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Sản phẩm bị lỗi do người dùng: bị biến dạng vật lý như trầy, xước, móp, méo, nứt, vỡ, lồi, lõm do bị rơi, bị va đập mạnh, bị mốc, hoen rỉ, ố vàng, ẩm ướt, chất lỏng xâm nhập, do vận chuyển hoặc lắp đặt sai quy cách, mờ chữ, viết chữ không tẩy được, hư hỏng do chuột, bọ hay côn trùng xâm nhập&hellip;</span></p>

                    <p><span style="font-size: 14pt; font-family: 'times new roman', times;">Sản phẩm đã qua ép xung (Overclock) hoặc sử dụng sai theo thông số kỹ thuật NSX đưa ra.</span></p>

                    <div style="padding: 8px; border: 2px dashed #ff4500; background-color: #faf366; text-align: center;"><span style="color: #ff6600;"><strong><span style="font-size: 14pt; font-family: 'times new roman', times;">GÓI BẢO HÀNH MỞ RỘNG VỚI CÁC SẢN PHẨM LAPTOP MỚI 100% CHÍNH HÃNG</span></strong></span></div>

                    <p style="text-align: justify;">&nbsp;</p>

                    <p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Bên cạnh gói <span style="color: #ff0000;"><strong>BẢO HÀNH CƠ BẢN</strong></span> mặc định cho tất cả các sản phẩm mới tại Techcare, quý khách có thể chọn thêm gói <span style="color: #ff0000;"><strong>BẢO HÀNH MỞ RỘNG</strong></span> được áp dụng cho các sản phẩm laptop mới 100% chính hãng ngay sau khi thời gian bảo hành kết thúc. Để đảm bảo có được sự chăm sóc tốt nhất cho sản phẩm của mình trong quá trình sử dụng, quý khách có thể lựa chọn thêm hai gói bảo hành mở rộng sau:</span></p>

                    <p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Gói <span style="color: #ff0000;"><strong>BẢO HÀNH VÀNG</strong></span> &ndash; gia hạn thêm <span style="color:#ff0000;"><strong>12 tháng bảo hành</strong></span> ở hệ thống Techcare.</span></p>

                    <p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Gói <span style="color: #ff0000;"><strong>BẢO HÀNH KIM CƯƠNG</strong></span> &ndash; gia hạn thêm <span style="color:#ff0000;"><strong>24 tháng bảo hành</strong></span> ở hệ thống Techcare.</span></p>

                    <p style="text-align: justify;"><em><span style="font-size: 14pt; font-family: 'times new roman', times;"><strong>*Lưu ý</strong>: Mỗi khách hàng chỉ được chọn mua một gói bảo hành mở rộng cho một sản phẩm laptop trong vòng 60 ngày kể từ khi mua hàng.</span></em></p>

                    <h3 style="text-align: justify;"><span style="color: #ff0000;"><strong><span style="font-size: 14pt; font-family: 'times new roman', times;">Quyền lợi khi mua gói bảo hành mở rộng</span></strong></span></h3>

                    <p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Quý khách được hưởng đầy đủ các quyền lợi nằm trong chính sách bảo hành đối với các sản phẩm laptop đã qua sử dụng ở hệ thống Techcare.</span></p>

                    <p style="text-align: justify;"><em><span style="font-size: 14pt; font-family: 'times new roman', times;">(Bảo hành chỉ áp dụng với thân máy và không bao gồm pin, bàn phím, sạc).</span></em></p>

                    <p style="text-align: justify;"><em><span style="font-size: 14pt; font-family: 'times new roman', times;"><strong>Ví dụ:</strong> Một sản phẩm laptop có thời gian bảo hành chính hãng tại hệ thống Techcare từ 6-12 tháng kể từ ngày mua hàng.</span></em></p>

                    <p style="text-align: justify;"><em><span style="font-size: 14pt; font-family: 'times new roman', times;">-&gt; Nếu quý khách hàng lựa chọn thêm gói Bảo hành vàng thì thời gian bảo hành của sản phẩm laptop sẽ diễn ra như sau: Trong 6-12 tháng đầu tiên bảo hành ở trung tâm bảo hành hãng, 12 tháng tiếp theo sẽ được bảo hành và hưởng quyền lợi tại hệ thống Techcare.</span></em></p>

                    <p style="text-align: justify;"><em><span style="font-size: 14pt; font-family: 'times new roman', times;"><strong>*Lưu ý:</strong> Trong thời gian máy được hưởng quyền lợi bảo hành ở trung tâm bảo hành hãng, Techcare có hỗ trợ nhận và gửi bảo hành giúp khách hàng ở TTBH hãng.</span></em></p>

                    <p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">(*) % giá trị máy không bao gồm các khoản giảm trừ giá, khuyến mại</span></p>

                    <h2 style="text-align: justify;"><span style="font-size: 18pt; color: #ff6600;"><strong><span style="font-family: 'times new roman', times;">Địa chỉ nhận bảo hành</span></strong></span></h2>

                    <p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Đối với sản phẩm laptop mới chính hãng:</span></p>

                    <p style="text-align: justify;"><em><span style="font-size: 14pt; font-family: 'times new roman', times;">Để gửi bảo hành sản phẩm, quý khách có thể lựa chọn theo hai cách sau:</span></em></p>

                    <p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;"><strong>&bull; Cách 1</strong>: Gửi bảo hành sản phẩm tại Techcare, bao gồm các cơ sở của hệ thống Techcare. Thời gian trả bảo hành sản phẩm sẽ phụ thuộc vào hãng, khoảng từ 10-14 ngày. Techcare chỉ nhận bảo hành giúp khi sản phẩm đó đáp ứng đủ các điều kiện bảo hành như đã nêu trên.</span></p>

                    <p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;"><strong>&bull; Cách 2</strong>: Gửi bảo hành trực tiếp ở TTBH hãng hoặc những đơn vị được ủy quyền của Hãng.</span></p>

                    <p style="text-align: justify;"><em><span style="font-size: 14pt; font-family: 'times new roman', times;">Techcare&nbsp;chịu trách nhiệm nhận sản phẩm và đại diện khách hàng gửi tới TTBH hãng đối với các trường hợp hãng từ chối bảo hành.</span></em></p>

                    <p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Đối với sản phẩm laptop cũ:</span></p>

                    <p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Quý khách hàng vui lòng mang sản phẩm đến các địa chỉ bên dưới đây:</span></p>

                    <ul>
                        <li style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Bệnh viện công nghệ Techcare, số 99-101 Hàm Nghi, Thanh Khê, Đà Nẵng</span></li>
                        <li style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Bệnh viện công nghệ Techcare, số 133-135 Hàm Nghi, Thanh Khê, Đà Nẵng</span></li>
                        <li style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Bệnh viện công nghệ Techcare, số 101 Nguyễn Văn Thoại, Sơn Trà, Đà Nẵng</span></li>
                    </ul>

                    <p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Thời gian tiếp nhận bảo hành sản phẩm laptop từ 8h-21h tất cả các ngày trong tuần (cả kể ngày lễ).</span></p>

                    <p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">Điện thoại liên hệ: <strong><span style="color: #ff0000;">0236.222.3888</span></strong></span></p>

                    <p style="text-align: justify;"><span style="font-size: 14pt; font-family: 'times new roman', times;">*Trong trường hợp quý khách ở xa, không có điều kiện đến trực tiếp các địa chỉ trên để bảo hành, cũng có thể gửi sản phẩm của mình qua đơn vị vận chuyển. Để được hướng dẫn cụ thể, quý khách vui lòng liên hệ Hotline <strong><span style="color: #ff0000;">0236.222.3888</span></strong>.</span></p>
                </div>
            </div>
        </div>
    </div>
</section>