@model eShopSolution.ViewModels.Catalog.Categories.CategoryCreateRequest

@{

    ViewData["Title"] = "Tạo mới danh mục";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var categoryAll = ViewData["CategoryAll"] as List<eShopSolution.ViewModels.Catalog.Categories.CategoryViewModel>;
}

<style>
    .validation-summary-valid span {
        display: none;
    }
</style>

<div class="container-fluid">
    <h1 class="mt-4">Tạo mới danh mục</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a style="color: #0779e4;" href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Tạo mới danh mục</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Index" asp-controller="Category">Về danh sách</a>
        </div>

        <div class="card-body">
            <div class="col-md-8">
                <form asp-action="Create" asp-controller="Category" enctype="multipart/form-data" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Alias" class="control-label"></label>
                        <input asp-for="Alias" class="form-control" />
                        <span asp-validation-for="Alias" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="idParent" class="control-label">Category Parent</label>
                        <select asp-for="idParent" class="form-control form-control-md">
                            @if (categoryAll != null)
                            {
                                @foreach (var item in categoryAll)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                                <option value="0">Thư mục gốc</option>
                            }

                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Image" class="control-label"></label>
                        <input asp-for="Image" type="file" class="form-control" />
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Tạo mới" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.ckeditor.com/ckeditor5/27.0.0/classic/ckeditor.js"></script>
    <script>
        $(document).ready(function () {
            $('#Name').on('input', function () {
                var productcategory_name = $('#Name').val();
                $('#Alias').val(convertToSlug(productcategory_name));
                //console.log($(this).val()); // Logs the current value of the input field as the user types
            });
        });

        function removeDiacritics(str) {
            return str.normalize("NFD").replace(/[\u0300-\u036f]/g, "");
        };

        function convertToSlug(str) {
            // Bước 1: Loại bỏ dấu
            str = removeDiacritics(str);

            // Bước 2: Chuyển về chữ thường
            str = str.toLowerCase();

            // Bước 3: Thay thế các ký tự không phải là chữ cái hoặc số bằng dấu "-"
            str = str.replace(/[^a-z0-9\s-]/g, '');

            // Bước 4: Thay thế các khoảng trắng hoặc dấu "-" liên tiếp thành một dấu "-"
            str = str.replace(/\s+/g, '-').replace(/-+/g, '-');

            // Bước 5: Xóa các dấu "-" ở đầu và cuối chuỗi
            str = str.replace(/^-+|-+$/g, '');

            return str;
        };
    </script>
}


